// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

body {
  // color: var(--foreground);
  // background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body,
section,
div,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
