.container {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f0f8ff;
  margin: 0 1rem 1rem 1rem;
}

.title {
  font-size: 1rem;
  color: #999;
  font-weight: normal;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

.container::-webkit-scrollbar {
  display: none;
}

.hourlyItem {
  margin: 0 0.5rem;
  padding: 0.5rem;
  flex: 0 0 auto;
  text-align: center;
}

.hourlyItem:first-child {
  margin-left: 0;
}

.hourlyItem:last-child {
  margin-right: 0;
}

.time {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.temperature {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
